---
---

<nav class="bg-bg-dark h-25 flex justify-between items-center px-6 sticky top-0 z-50">
    <!-- Logo -->
    <div>
        <span class="text-white text-2xl font-primary font-bold tracking-wide">
            INVENTRA
        </span>
    </div>

    <!-- Menú  -->
    <ul class="flex items-center gap-8">
        <li><a href="#" class="text-border-soft hover:text-white transition-colors">Features</a></li>
        <li><a href="#" class="text-border-soft hover:text-white transition-colors">Integraciones</a></li>
        <li><a href="#" class="text-border-soft hover:text-white transition-colors">Pricing</a></li>
        <li><a href="#" class="text-border-soft hover:text-white transition-colors">FAQ</a></li>
    </ul>

    <!-- Botón login -->
    <div>
        <button class="bg-accent text-text px-6 py-1 rounded-full hover:bg-btn-secondary-hover cursor-pointer">
            login
        </button>
    </div>
</nav>